### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
csv_data="~/UCIRV201807DATA4-2/02-Homework/04-Numpy-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# Read uploaded file and store into pandas data frame
master_data= pd.read_csv(csv_data)
master_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# format Strings 

def money(float_num):
    fixedmoney ="${:,.2f}".format(float_num)
    
    return fixedmoney

def percentage(float_num):
    fixedpercent= "{0:,.2f} %".format(float_num)
    
    return fixedpercent

In [3]:
#player count

mymaster_data= master_data.copy()
player_count = master_data["SN"].count()
print(player_count)

780

In [4]:
uniqueplayer_count=len(master_data["SN"].unique())
print(player_count)

780

In [5]:
total_player_count=pd.DataFrame({"total number of players":["player_count"]})

print(total_players)

final_playercount_df = total_player_count.copy()

NameError: name 'total_players' is not defined

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#unique items 
unique_items = len(master_data["Item Name"].value_counts())
print(unique_items)

179

In [7]:
#total value 

total_value= master_data["Price"].sum()
print(total_value)

2379.77

In [8]:
#purchase count & average
purchase_count = player_count
print(player_count)

780

In [9]:
#average
average_item_price = master_data["Price"].mean()
average_item_price = round(average_item_price,2)
print(average_item_price)

3.05

In [10]:
#dataframe
purchasinganalysis = pd.DataFrame({"Number of Unique Items": unique_items
                          ,"Average Price": money(average_item_price)
                          ,"Number of Purchases": purchase_count
                          ,"Total Revenue":money(total_value)                            
                                    }, index=[0])

#create the final dataframe
purchasing_analysis_df = purchasinganalysis.copy()

In [11]:
purchasing_analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
uniqueitem_df = master_data.drop_duplicates(["Item ID"], keep="last")

#only get columns needed
uniqueitem_df = uniqueitem_df[["Item ID","Item Name","Price"]]

#sort columns by id
uniqueitem_df = uniqueitem_df.sort_values(["Item ID"], ascending=[1])
#uniqueitems_df.head()
uniqueitem_df.head()

     Item ID           Item Name  Price
662        0            Splinter   1.28
697        1            Crucifer   3.26
560        2             Verdict   2.48
544        3        Phantomlight   2.49
635        4  Bloodlord's Fetish   1.70

In [34]:
#male
males = master_data.loc[master_data["Gender"]=="Male"]
males.head(2)

females = master_data.loc[master_data["Gender"]=="Female"]
females.head(2)

others= master_data.loc[master_data["Gender"]=="Other / Non-Disclosed"]
others.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81

In [35]:
male_count= len(males["SN"].unique())

print(male_count)

484

In [36]:
female_count = len(females["SN"].unique())
print(female_count)

81

In [37]:
others_count= len(others["SN"].unique())
print(others_count)

11

In [38]:
# percentages... i believe it's not working because of my player count :/ 
percent_males =fixedpercent(round(male_count/total_player_count*100,2))

females_percent=fixedpercent(round(female_count/total_player_count *100,2))

percent_of_others =fixedpercent(round(others_count/total_player_count *100,2))

NameError: name 'fixedpercent' is not defined


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
avg_female_purchase= females["Price"].mean()
total_f_purchase= females["Price"].sum()
female_pprice= (avg_female_purchase/female_count)*100

print(money(avg_female_purchase))

$3.20

In [29]:
avg_male_purchase= males["Price"].mean()
total_m_purchase= males["Price"].sum()
male_pprice = (avg_male_purchase/male_count)*100
print(money(avg_male_purchase))

$3.02

In [41]:
avg_other_purchase= others["Price"].mean()
total_others_purchase= others["Price"].sum()
others_pprice = (avg_other_purchase/others_count)*100
print(avg_other_purchase)

3.3460000000000005

In [47]:
#create the dictionary lists
list_female_gender = {"Gender":"Female","Purchase Count":female_count, "Average Purchase Price":money(avg_female_purchase), "Total Purchase Value":money(total_f_purchase),"Average Purchase Total PPBG":money(female_pprice)}
list_male_gender = {"Gender":"Male","Purchase Count":male_count, "Average Purchase Price":money(avg_male_purchase), "Total Purchase Value":money(avg_male_purchase),"Average Purchase Total PPBG":money(male_pprice)}
list_others_gender = {"Gender":"Other / Non-Disclosed","Purchase Count":others_count,"Average Purchase Price":money(avg_other_purchase), "Total Purchase Value":money(total_others_purchase),"Average Purchase Total PPBG":money(others_pprice)}

In [49]:
gender_df = pd.DataFrame(
                            [
                                list_female_gender
                                ,list_male_gender
                                ,list_others_gender
                                ]
                        )
gender_df =gender_df[["Gender","Purchase Count","Average Purchase Price","Total Purchase Value","Average Purchase Total PPBG"]]


purchasinganalysisgender_df =gender_df.copy()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [55]:

agedemo_maindf = pd.DataFrame(master_data)
agedemo_df = master_data.copy()

age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]



agedemo_df.head()

agedemo_df["Age Range"] = pd.cut(agedemo_df["Age"], age_bins, group_names)

In [56]:
if the column'AGE' is < 10, create a bin called Age Range
agedemo_df.loc[(agedemo_df["Age"] < 10), "Age Range"] = "Low on the totem pole"
agedemo_df.loc[agedemo_df["Age"] >= 10, "Age Range"] = "Big Boy"


agedemo_df.loc[(agedemo_df["Age"] < 10), "Age Range"] = "<10"
agedemo_df.loc[(agedemo_df["Age"] >= 10) & (agedemo_df["Age"] <= 14), "Age Range"] = "10-14"
agedemo_df.loc[(agedemo_df["Age"] >= 15) & (agedemo_df["Age"] <= 19), "Age Range"] = "15-19"

#agedemo_maindf.loc[(agedemo_maindf["Age"] >= 20) & (agedemo_maindf["Age"] <= 29), "Age Range"] = "20-29"
agedemo_df.loc[(agedemo_df["Age"] >= 20) & (agedemo_df["Age"] <= 24), "Age Range"] = "20-24"
agedemo_df.loc[(agedemo_df["Age"] >= 25) & (agedemo_df["Age"] <= 29), "Age Range"] = "25-29"


#agedemo_maindf.loc[(agedemo_maindf["Age"] >= 30) & (agedemo_maindf["Age"] <= 39), "Age Range"] = "30-39"
agedemo_df.loc[(agedemo_df["Age"] >= 30) & (agedemo_df["Age"] <= 34), "Age Range"] = "30-34"
agedemo_df.loc[(agedemo_df["Age"] >= 35) & (agedemo_df["Age"] <= 39), "Age Range"] = "30-39"

#agedemo_ndf.loc[(agedemo_df["Age"] >= 40) & (agedemo_df["Age"] <= 49), "Age Range"] = "40-49"
agedemo_df.loc[(agedemo_df["Age"] >= 40) & (agedemo_df["Age"] <= 44), "Age Range"] = "40-44"
agedemo_df.loc[(agedemo_df["Age"] >= 45) & (agedemo_df["Age"] <= 49), "Age Range"] = "40-49"

agedemo_df.loc[(agedemo_df["Age"] > 49), "Age Range"] = "50>"
agedemo_df.head(2)

SyntaxError: invalid syntax (<ipython-input-56-b6fbc8219170>, line 1)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame